
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://weloveiconfonts.com/api/?family=fontawesome|typicons);
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color:#fff;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
/*titulos*/
 p#etapa
{
	font-size: 13px;
	color: #838D88;
}
p#etapa2
{
	font-size: 13px;
	color: #838D88;
}
/*titulos*/
/* frases*/
 p#contenido
{
	font-size: 16px;
	color: #838D88;
}
p#contenido2
{
	font-size: 16px;
	color: #838D88;
}
p#contenido3
{
	font-size: 16px;
	color: #838D88;
}
p#contenido4
{
	font-size: 16px;
	color: #838D88;
}
 p#contenidos
{
	font-size: 16px;
	color: #838D88;
}
p#contenidos2
{
	font-size: 16px;
	color: #838D88;
}
p#contenidos3
{
	font-size: 16px;
	color: #838D88;
}
p#contenidos4
{
	font-size: 16px;
	color: #838D88;
}
/* frases */
.imgsep
img{
	margin-top: 15px;
	width:60%;
}
.imgcam
img{
	margin-top: 15px;
	width: 80%;
    background-color:white;
    margin: 0 auto;
}
.imgres
img{
    margin-top: 15px;
	width:80%;
}

.info{
    background-color: #942C14;
    color: white;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.col{
    width: auto;
    float:left;
    margin-left: 10px;
    padding-left: 20px;
}
.col p{
    padding-top: 10px;
    text-align: justify;
}

article{
    color:black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-end;
    font-size:20px;
    text-align:right;
    font-weight:bold;
}
article img{
    width: 30%;
    margin-top: 20px;
}

aside img{
	 width: 20%;

    margin-top: 20px;
}
input{
	 width: 100%;
    margin-top: 20px;
}
aside{
	color:black;
    margin: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: flex-start;
    font-weight:bold;
    margin-top: 100px;
}
aside img{
    width: 30%;
}

/*diseño titulos y frases */
article#rescate p#etapa
{
	font-size: 12px;
	color: #838D88;
	margin-top: -20px;
}
article#rescate p#etapa2
{
	font-size: 12px;
	color: #838D88;
	margin-top: -20px;
}

article#rescate p#contenido
{
	font-size: 12px;
	color: #838D88;
}

article#rescate p#contenidos
{
	font-size: 12px;
	color: #838D88;
}
/*diseño titulos y frases */
div#redes{
	text-align: right;
	background-color: #942C14;
}

.redes
img{
margin-top: 10px;
    width:20%;
    height: auto;
    text-align: right;
    margin-left: -2px;

    transition: all 0.5s ease;

}

.redes img:hover{
transform: scale(0.9);
}

footer{
            display: table;
            justify-content : right;
            align-items : right;
            background-color: lightgrey;
            width: 100%;
            height : 100%;
            color:gray;
          
          }

header {
    width: 100%;
    height: 50px;
    background: #942C14;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.contenedor {
    width: 98%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

@media (min-width:1024px) {
    .contenedor {
        width: 1000px;
    }
}

#banner {
    margin-top: 50px;
    background-color:#A83015; 
}

#banner img {
     display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    width: 74%;
}

#banner .contenedor {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner h2 {
    font-size: 28px;
}

#banner a {
    display: block;
    width: 100px;
    color: #fff;
    text-decoration: none;
    padding: 7px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover {
    background: rgba(51,51,51,0.5);
}


#info {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

#info .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#menu-bar {
    display: none;
}

header label {
    float: right;
    font-size: 28px;
    margin: 6px 0;
    cursor: pointer;
}

.menu {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #942C14;
    transition: all 0.5s;
    transform: translateX(-100%);
}

.menu a {
    display: block;
    color: #fff;
    height: 50px;
    text-decoration: none;
    padding: 15px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

.menu a:hover {
    background: rgba(255,255,255,0.3);
}

#menu-bar:checked ~ .menu {
    transform: translateX(0%);
}

@media (min-width:1024px) {
    .menu {
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a {
        border: none;
    }
    header label { 
        display: none;
    }
}

.slider{   height: 100%;
    height: 250%;
    margin:auto;
    overflow: hidden;
}

.slider li{
   
    display: flex;
     padding: 0;
width: 100%;
height: 100%;
     animation: cambio 5s infinite;
     animation-direction: alternate;
     animation-timing-function: ease-in;
}

.slider li{
    width: 100%;
list-style: none;
}

.slider img{
    
    width: 100%;
    height: 100%;
}

@keyframes cambio{
    0%{ margin-left: 0;}
    45%{margin-left: 0;}

    50%{ margin-left: -100%;}
    100%{ margin-left: -100%;}

}
#banner {
    margin-top: 50px;
    position: relative;
}

#banner img {
    width: 100%;
    height: 100%;
}

@media (min-width:480px) {
    #banner h2 {
        font-size: 40px;
    }
    
    #banner a {
        margin-top: 25px;
    }
}

@media (min-width:768px) { 
    #banner {
        height: 300px;
        overflow: hidden;
    }
    
    #banner img {
        height: auto;
    }
}

@media (min-width:1024px) { 
    #banner img {
        margin-top: -200px;
    }
}

/*galeria*/
.container-galeria{
    max-width: 1000px;
    width: 100%;
    background: #ff853b;
    padding: 5px;
    margin: auto;
    border-radius: 14px;
    box-shadow: 0px 0px 40px -5px;
    
}
#mini{
    text-align: center;
    font-size: 40px;
    font-weight: 100;
    color: black;
    padding-top: 15px ;
    padding-bottom: 15px;
    
}
.img-galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

figure{
    width: 170px;
    height: 325px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    
}

figure:hover h1{
opacity: 1;
}
figure img{
    width: 100%;

}
figure h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.8);
    padding: 100%;
    color: white;
    opacity: 0;
    transition: all 600ms cubic-bezier(1,0,0,1);
}
/*galeria*/
